<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="enode" version="1.2.6" targetFramework="net40" />
  <package id="enode.autofac" version="1.0.1" targetFramework="net40" />
  <package id="enode.jsonnet" version="1.0.1" targetFramework="net40" />
  <package id="enode.log4net" version="1.0.1" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>