<connectionStrings>
  <add name="enode" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=enode;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />
  <add name="forum" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=forum;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />

  
  <add name="sql_account" connectionString="Data Source=.;User ID=sa;Password=p@ssw0rd;Initial Catalog=xxxxxxxxxx;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />
  <add name="win_account" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=yyyyyyyyyy;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />
</connectionStrings>