<connectionStrings>
  <add name="enode" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Forum_ENode;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Min Pool Size=10;Max Pool Size=100;" providerName="System.Data.SqlClient" />
  <add name="forum" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Forum_Data;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Min Pool Size=10;Max Pool Size=100;" providerName="System.Data.SqlClient" />
</connectionStrings>

