@{
    ViewBag.Title = "主页";
}


<div class="hero-unit">
    <h1>Welcome!</h1>
    <h4>eNode is an open-source framework which provide the ability to develop ddd+cqrs+event sourcing+in memory style applications.</h4>
    <h4>For more information, please visit <a href="https://github.com/tangxuehua/enode" target="_blank">https://github.com/tangxuehua/enode</a></h4>
</div>