@{
    ViewBag.Title = "ENode论坛-首页";
}


<div>
    <h1 style="margin-top:0px">Welcome!</h1>

    <p>
        ENode is a framework aims to help us developing ddd, cqrs, eda, and event sourcing style applications.
    </p>


    <h4>
        Developing rules:
    </h4>

    <ul>
        <li>One command only allowed to effect one aggregate</li>
        <li>Strong consistency in one aggregate</li>
        <li>Eventual consistency between multiple aggregates</li>
        <li>Unit of Work pattern is not need again, replaced with saga</li>
        <li>Domain event is the only way to implement aggregate interaction</li>
    </ul>

    <h4>
        Author's blog
    </h4>
    <p>
        <a href="http://www.cnblogs.com/netfocus/category/496012.html">http://www.cnblogs.com/netfocus/category/496012.html</a>
    </p>

    <h4>
        ENode project url
    </h4>
    <p>
        <a href="https://github.com/tangxuehua/enode">https://github.com/tangxuehua/enode</a>
    </p>

    <h4>
        A simple forum sample
    </h4>
    <p>
        <a href="https://github.com/tangxuehua/forum">https://github.com/tangxuehua/forum</a>
    </p>

</div>