@{
    ViewBag.Title = "主页";
}


@*<table class="table table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                标题
            </th>
            <th class="center">
                发帖人
            </th>
            <th class="center">
                回复数
            </th>
            <th class="center">
                最新回复
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in posts">
            <td width="10%">
                {{post.Subject}}
            </td>
            <td width="10%" class="center">
                
                <a href="http://osupdateadmin.yunos.com/rest/userinfo/index.html?userId=99287" target="_blank">{{post.AuthorName}}</a>
            </td>
            <td width="10%" class="center">
                {{post.ReplyCount}}
            </td>
            <td width="10%" class="center">
                {{post.packageName}}
            </td>
        </tr>
    </tbody>
</table>*@