<title>@ViewBag.Title</title>
<meta name="keywords" content="ENode Forum CQRS DDD">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ENode是一个实现CQRS+EventSourcing架构的框架">
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
</environment>