<title>@ViewBag.Title</title>
<meta name="keywords" content="ENode Forum CQRS DDD">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ENode是一个读写分离的事件溯源框架">
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

@Styles.Render("~/content/css/global")

<script>
        @functions{
            static string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }
        var requestVerificationToken = '@TokenHeaderValue()';

</script>