@model Forum.Web.Models.LoginModel
@{
    ViewBag.Title = "ENode论坛-用户登录";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_CommonPartial")
    <style>
        .error {
            float: left;
        }
    </style>
</head>

<body class="gray-bg">
   
    @RenderBody()
    @Scripts.Render("~/content/js/global", "~/content/js/validate")
    <script>
        toastr.options.positionClass = 'toast-top-center';
    </script>
    @RenderSection("Script", false)
</body>
</html>
